@font-face {
    font-family: KhumbSans;
    src: url(./fonts/KumbhSans-VariableFont_wght.ttf);
}

:root{
/* #### Text */
    --very-dark-desturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
/* ### Neutral */

/* #### Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

/* #### Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: KhumbSans;
    font-size: 16px;
    background-image: linear-gradient(var(--soft-violet),var(--soft-blue));
    font-weight: 400;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 21.1em;
    min-width: 17.5em;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 100px;
}


.desktop-illustration {
    width: 100%;
    display: none;
}

#desktop-illustration, #desktop-illustration-box, #desktop-shadow{
    position: absolute;
}

#desktop-illustration-box {
    display: none;
}

.mobile-illustration {
    width: 240px;
    position: relative;
}

.mobile-illustration img {
    width: 100%;
    cursor: pointer;
}

#mobile-illustration {
    position: absolute;
    top: -6.8em;
}

hr {
    width: 90%;
    color: var(--light-grayish-blue);
}

h1 {
    padding-bottom: .5em;
}

.main-text {
    padding: 1em 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapse-group {
    width: 90%;
    height: 1.2em;
    overflow:hidden;
    padding: 1em 0;
    position: relative;
}


.collapse-group img{
    position: absolute;
    right: .1em;
    top: 1.5em;
    transition: rotate .1s;
    cursor:pointer;
}

.collapse-group p:first-of-type {
    display: inline-block;
}

.collapse-group p:last-of-type {
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--dark-grayish-blue);
    font-size: 0.85em;
}

.query-header {
    display:inline-block;
    cursor: pointer;
}

.query-header:hover {
    color: var(--soft-red);
}


@media(min-width: 1000px) {
    main {
        margin-top: 0;
        flex-direction: row;
        width: 53.75em;
        overflow: hidden;
    }

    .illustration-group {
        width: 50%;
        position: relative;
    }

    .mobile-illustration {
        display: none;
    }

    .desktop-illustration {
        display: initial;
    }

    #desktop-illustration {
        left: -5em;
        top: -12em;
        z-index: 1;
    }

    #desktop-illustration-box {
        display: initial;
        transform: translate(-26.8em, 2.2em);
        z-index: 2;
    }

    #desktop-shadow {
        width: 53.75em;
        left: -29em;
        top: -30em;
    }
    .main-text {
        margin: 3em 0;
        width: 50%;
        margin-right: 2em;
    }

    h1 {
        margin-left: .72em;
        margin-right: auto;
    }
}
