@font-face {
    font-family: KhumbSans;
    src: url(./fonts/KumbhSans-VariableFont_wght.ttf);
}

:root{
/* #### Text */
    --very-dark-desturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
/* ### Neutral */

/* #### Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

/* #### Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: KhumbSans;
    font-size: 16px;
    background-color: var(--soft-violet);
    font-weight: 400;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 337.5px;
    min-width: 280px;
    background-color: var(--light-grayish-blue);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 100px;
}



.desktop-illustration {
    display: none;
}

.mobile-illustration {
    width: 240px;
    position: relative;
}

.mobile-illustration img {
    width: 100%;
    cursor: pointer;
}

.illustration {
    position: absolute;
    top: -6.8em;
}

hr {
    width: 90%;
    /* height: 1em; */
    color: var(--light-grayish-blue);
}


.main-text {
    padding: 1em 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapse-group {
    width: 90%;
    height: 1.2em;
    overflow:hidden;
    padding: 1em 0;
}


.collapse-group img{
    display:inline-block;
    transition: rotate .1s;
    cursor:pointer;
}

.collapse-group p:last-of-type {
    padding: 1em 0;
    color: var(--dark-grayish-blue);
    font-size: 0.85em;
}

.query-header {
    display:inline-block;
    cursor: pointer;
}

.query-header:hover {
    color: var(--soft-red);
}

